<h1><%= @post.title %></h1>
<p>By: <%= @author.name %></p>
<p><%= @post.text %> </p>

<ul>
  <li><%= link_to "Edit", edit_post_path(@post) %></li>
  <li><%= link_to "Destroy", post_path(@post),
                method: :delete,
                data: { confirm: "Are you sure?" } %></li>
</ul>

<h2>Comments</h2>
<%= render @post.comments%>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<p><%= link_to "Back", root_path(@post) %></p>